.container{
    width: 1280px;
    margin:auto;
}
.header{

}
.header-text{
    font-size: 60px;
}
.title-navigation-link{
    text-decoration: none;
    font-family: Verdana;
}
.title-navigation-link h1{
    color:black;
}
.title-navigation-link span{
    color:#4BCAFF;
}
.menu-table{
     list-style-type: none;
     width: 1280px;
     padding: 0;
     overflow: hidden;
     background-color: #35444F;
 }
.menu-table li{
    float: left;
}
.menu-navigation-link{
    display: inline-block;
    padding: 20px 35px;
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana;
    font-weight: 100;
    font-size: 22px;
}
.middle-menu{
    float:left;
    width: 344px;
    margin-top: 40px;
    border: black solid 1px;
}
.middle-menu-link{
    text-decoration: none;
    font-family: Calibri;
    font-size: 28px;
    color:#495863;
    padding: 20px 0px 30px 40px;
}
.special-middle-menu-link{
    color: black;
    font-weight: 600;
}
.middle-menu a{
    display: block;
}
.middle-menu span{
    background-color: gray;
}
.div-photo{
    display: inline-block;
    width: 885px;
    margin-left: 40px;
    margin-top: 40px;
    border: black solid 1px;
    overflow: hidden;
}
.photo{
    display:block;
    margin:70px auto 70px;
    transition: transform .3s ease;
}
.div-photo:hover img {
    transform: scale(1.3);
}
.middle-menu-div{
    padding-left: 0;
}
.special-middle-menu-div{
    background-color: #DBDBDB;
}
.special-middle-menu-div a{
    padding-left:60px;
    color:black;
}
.div-text{
    width: 885px;
    float:right;
    font-size: 18px;
}
.div-text p{
    font-family: "Yu Gothic UI Semibold";
}
.first-paragraph{
     padding: 20px 20px 20px 20px;
}
.second-paragraph{
    padding: 0px 20px 20px 20px;
}
.footer-menu{
    display: inline-block;
    width: 1280px;
    font-size: 26px;
    background-color: #B4B7BA;
}
.footer-menu-link{
    text-decoration: none;
    font-weight: 400;
    line-height: 69px;
    padding-left: 20px;
    color: #0c1927;
    font-family: "Yu Gothic UI Semibold";
    font-size: 26px;
}
.first-footer-menu-link{
    padding-left: 40px;
}
.special-footer-menu-link{
    color: #3181A6;
    text-decoration: underline;
    text-underline-position: under;
}
.right-side{
    float:right;
    line-height: 69px;
    padding-right: 40px;
    font-family: "Yu Gothic UI Semibold";
}
.active {
    background-color: #222F3A;
    border-left:1px solid #818181;
    border-right:1px solid #818181;
}
.special-first-menu{
    margin-left: 150px;
}
